
<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mb-4 rounded" (click)="openModal()">
  New Trade </button>
<table class="min-w-full bg-white border border-gray-200">
  <thead>
    <tr class="bg-gray-100 text-gray-600 uppercase text-sm leading-normal">
      <th class="py-3 px-6 text-left">Date</th>
      <th class="py-3 px-6 text-left">Name</th>
      <th class="py-3 px-6 text-right">Order</th>
      <th class="py-3 px-6 text-right">Price</th>
      <th class="py-3 px-6 text-right">Amount</th>
      <th class="py-3 px-6 text-right">Volume</th>
    </tr>
  </thead>
  <tbody class="text-gray-700 text-sm font-light">
    @for (trade of trades; track trade._id) {
      <tr  
        class="border-b border-gray-200 hover:bg-gray-100" 
        [ngClass]="{'bg-green-100': trade.order === 'buy', 'bg-red-100': trade.order === 'sell'}" >
      <td class="py-3 px-6 text-left">{{ trade.date | date:'short' }}</td>
      <td class="py-3 px-6 text-left">{{ trade.name }}</td>
      <td class="py-3 px-6 text-left">
        {{ trade.order === 'buy' ? 'Buy' : 'Sell' }}
      </td>
      <td class="py-3 px-6 text-right">
        {{ trade.price | currency }}
      </td>
      <td class="py-3 px-6 text-right">
        {{ trade.amount | currency }}
      </td>
      <td class="py-3 px-6 text-right">
        {{ trade.volume }}
      </td>
    </tr>
    }
    
  </tbody>
</table>

