
<table class="min-w-full bg-white border border-gray-200">
  <thead>
    <tr class="bg-gray-100 text-gray-600 uppercase text-sm leading-normal">
      <th class="py-3 px-6 text-left">Name</th>
      <th class="py-3 px-6 text-right">Price</th>
      <th class="py-3 px-6 text-right">% Change (1h)</th>
      <th class="py-3 px-6 text-right">% Change (24h)</th>
      <th class="py-3 px-6 text-right">% Change (7d)</th>
      <th class="py-3 px-6 text-right">Market Cap</th>
    </tr>
  </thead>
  <tbody class="text-gray-700 text-sm font-light">
    <tr *ngFor="let coin of coins$ | async" class="border-b border-gray-200 hover:bg-gray-100">
      <td class="py-3 px-6 text-left">{{ coin.name }}</td>
      <td class="py-3 px-6 text-right">${{ coin.price | number: '1.0-2' }}</td>
      <td class="py-3 px-6 text-right" [ngClass]="{ 'text-red-500': coin.percent_change_1h < 0 }">
        {{ coin.percent_change_1h | number: '1.2-2' }}%
      </td>
      <td class="py-3 px-6 text-right" [ngClass]="{ 'text-red-500': coin.percent_change_24h < 0 }">
        {{ coin.percent_change_24h | number: '1.2-2' }}%
      </td>
      <td class="py-3 px-6 text-right" [ngClass]="{ 'text-red-500': coin.percent_change_7d < 0 }">
        {{ coin.percent_change_7d | number: '1.2-2' }}%
      </td>
      <td class="py-3 px-6 text-right">${{ coin.market_cap | number: '1.0-0' }}</td>
    </tr>
  </tbody>
</table>
