<div class="text-3xl font-bold">
  {{portfolioValue$ | async | currency}}
</div>
<ng-container *ngIf="yield$ | async as yield">
<div class="text-2xl text-gray-500" [ngClass]="{ 'text-green-600': yield > 0, 'text-red-600': yield < 0 }">
  {{yield | number:'1.2-2'}}%
</div>
</ng-container>
<dl class="mt-4">
  <div class="flex justify-between">
    <dt class="text-lg font-medium text-gray-500">Cash Balance</dt>
    <dd class="text-lg font-bold text-gray-900">{{cashBalance$ | async | currency}}</dd>
  </div>
  <div class="flex justify-between mt-2">
    <dt class="text-lg font-medium text-gray-500">Coins Value</dt>
    <dd class="text-lg font-bold text-gray-900">{{tradesValue$ | async | currency}}</dd>
  </div>
</dl>

