<div class="flex h-screen">
  <!-- Desktop Sidebar -->
  <app-sidebar class="hidden md:block w-1/8"></app-sidebar> 

  <section *ngIf="selectedUser$ | async as user" class="main flex-1 bg-gray-100">
    <div class="relative">
      <app-header [user]="user"></app-header>
      <div class="content pt-16">
        <router-outlet />
      </div>
    </div>
  </section>

  <!-- Mobile Sidebar, anchored to the bottom -->
  <app-sidebar [isMobile]="true" class="block md:hidden w-full fixed bottom-0"></app-sidebar>
</div>
