<div class="container mx-auto p-4">
  <div class="flex flex-col md:flex-row">
    <div class="flex-1 p-4">
      <app-card [title]="mainTitle">
        @if (componentType === 'coins') {
          <app-coins></app-coins>
        } @else {
          <app-trade-list [trades]="trades" [user]="user"></app-trade-list>
        }
      </app-card>
    </div>

    <div class="w-full md:w-1/4 p-4 bg-gray-100">
      <app-card [title]="sideTitle">
        @if (authUser$ | async) {
          <app-portfolio></app-portfolio>
        } @else {
          <h1>Welcome to CoinTrader</h1>
        }
      </app-card>
    </div>
  </div>
</div>


